<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- tailwind cdn -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/style.css">
</head>

<body class="login min-h-screen bg-gray-100">

    <!-- contenedor general -->
    <div class="container mx-auto pb-10 py-10 ">

        <code>Ingresa un alias para comenzar a chatear</code>

        <!-- FORMULARIO LOGIN -->
        <form id="form-login" class="my-5" method="GET">
            <input type="text" id="input-login" placeholder="dime un alias para el chat" class="border border-green-500 rounded-md px-3 py-2
        focus:outline-none focus:shadow-outline" required>

            <button class="border border-green-500 text-green-500 rounded-md px-8 py-2
        transition duration-300 ease select-none hover:text-white
        hover:bg-green-600 focus:outline-none focus:shadow-outline">
                INGRESAR
            </button>
        </form>

        <!-- aviso de coockies -->
        <em>Almaceno coockies para saber quien eres! =D</em>
    </div>


    <script>
        const formLogin = document.getElementById('form-login');
        const inputLogin = document.getElementById('input-login');
        formLogin.addEventListener('submit', addAlias);

        function addAlias(e) {
            e.preventDefault();
            // me mate aca eh
            window.location = `/chat${inputLogin.value}`;
        }
    </script>
</body>

</html>